alembic==1.11.2
async-timeout==4.0.2
autopep8==2.0.2
Babel==2.12.1
bcrypt==4.0.1
blinker==1.6.2
certifi==2023.5.7
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.6
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
Flask==2.3.2
Flask-Babel==2.0.0
Flask-Cors==4.0.0
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
greenlet==2.0.2
httplib2==0.20.2
idna==2.6
importlib-metadata==4.6.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
Mako==1.2.4
MarkupSafe==2.1.3
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
parameterized==0.9.0
pycodestyle==2.8.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
pytz==2023.3
PyYAML==5.4.1
redis==4.6.0
requests==2.31.0
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==2.0.19
systemd-python==234
tomli==2.0.1
typing_extensions==4.7.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
Werkzeug==2.3.6
zipp==1.0.0
